CommonMark
pandocfilters
PyYAML

I did the following:

sudo aptitude install pandoc

git clone git@github.com:jgm/cmark.git
cd cmark
make
sudo make install

(installs cmark in /usr/local/bin)

git clone git@github.com:jgm/pandocfilters.git
cd pandocfilters
sudo python install setup.py

I didn't find PyYAML, but that doesn't seem to be necessary, or I've
already got it without knowing!

Now you can build the html from the markdown files using:

make preview
